// 기본값 세팅
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-center-align {
  display: flex;
  align-items: center;
}

%flex-col {
  display: flex;
  flex-direction: column;
}

%flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%flex-col-center-align {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%triangle-title {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: var(--font-display);
  font-size: var(--h2);
  font-weight: 700;
  line-height: var(--140lh);
  letter-spacing: -1.28px;
  color: var(--white);

  &:before {
    content: "";
    display: block;
    width: 24px;
    height: 20px;
    background: url("/images/triangle-title.svg") no-repeat center;
  }
}

.main {
  --100vh: 100vh;
  --140lh: 140%;
  --transition: all 0.3s ease;
}

.section1 {
  position: relative;
  z-index: 2;

  .section-inner {
    @extend %flex-col-center;
    height: var(--100vh);
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 100%
    );
    gap: 44px;
    transition: var(--transition);
  }

  svg {
    width: 160px;
    height: 142px;
    transition: var(--transition);
  }

  .text {
    @extend %flex-col-center;
    gap: 12px;
    text-align: center;
    transition: var(--transition);
  }

  h1 {
    font-family: var(--font-display);
    font-size: var(--sec1-tit);
    font-weight: 800;
    line-height: var(--140lh);
    letter-spacing: -1.12px;
    color: var(--white);
    transition: var(--transition);
  }

  p {
    font-size: var(--sec1-txt);
    font-weight: 400;
    line-height: var(--140lh);
    letter-spacing: -0.56px;
    color: var(--white);
    transition: var(--transition);
  }
}

.section2 {
  .section-inner {
    padding: 140px 100px 110px 100px;
    transition: var(--transition);
  }

  h1 {
    font-family: var(--font-display);
    font-size: var(--h1);
    font-weight: 800;
    line-height: var(--140lh);
    letter-spacing: -1.84px;
    text-transform: uppercase;
    color: var(--white);
    transition: var(--transition);
  }

  .open-swiper {
    position: relative;
    flex: 1;
  }

  .open-swiper-wrapper {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .open-swiper-slide {
    @extend %flex-col;
    position: relative;
    padding: 50px 32px;
    border-radius: var(--rounded-md);
    background-color: var(--gray-8);
    transition: var(--transition);

    > svg {
      width: 40px;
      height: 40px;
      transition: var(--transition);

      path {
        transition: var(--transition);
      }
    }

    p {
      font-family: var(--font-display);
      font-size: var(--text-lg);
      font-weight: 700;
      letter-spacing: -0.64px;
      color: var(--white);
      margin-top: 20px;
      transition: var(--transition);
    }

    button {
      position: absolute;
      top: 50px;
      right: 32px;
      width: 48px;
      height: 48px;
    }

    .dot-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 90px;

      li {
        position: relative;
        padding-left: 16px;
        font-size: var(--text-sm);
        font-weight: 500;
        color: var(--gray-2);
        line-height: 140%;
        letter-spacing: -0.4px;
        transition: var(--transition);

        &:before {
          position: absolute;
          top: 12px;
          left: 0;
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          border-radius: var(--rounded-full);
          background-color: var(--gray-2);
          transition: var(--transition);
        }
      }
    }

    &:hover {
      background-color: var(--primary);

      svg {
        path {
          fill: var(--white);
        }
      }

      p {
        color: var(--white);
      }

      .dot-list {
        li {
          color: var(--white);

          &:before {
            background-color: var(--white);
          }
        }
      }
    }
  }

  .open-swiper-container {
    position: relative;
  }

  .open-swiper-nav-prev,
  .open-swiper-nav-next {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: rgba(102, 102, 102, 0.6);
    border-radius: var(--rounded-full);
  }

  .open-swiper-nav-prev {
    left: -8px;
  }

  .open-swiper-nav-next {
    right: -8px;
  }

  .scroll-down {
    @extend %flex-col;
    align-items: center;
    gap: 4px;

    span {
      font-size: var(--text-xs);
      font-weight: 700;
      line-height: var(--140lh);
      text-align: center;
      text-transform: uppercase;
      letter-spacing: -0.32px;
      color: var(--white);
    }
  }
}

.section3 {
  .section-inner {
    display: flex;
    gap: 12%;
    padding: 110px 100px 220px 100px;
    width: 100%;
    transition: var(--transition);
  }

  .text {
    flex: 1;

    h1 {
      @extend %triangle-title;
      transition: var(--transition);
    }

    p {
      font-size: var(--text-sm);
      font-weight: 500;
      line-height: var(--140lh);
      letter-spacing: -0.4px;
      color: var(--gray-2);
      margin-top: 32px;
      transition: var(--transition);
    }
  }

  .open-swiper-container {
    width: 58%;
  }

  .open-swiper {
    flex: 1;
  }

  .open-swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .open-swiper-slide {
    position: relative;
    height: 662px;
    border-radius: var(--rounded-lg);
    overflow: hidden;
    transition: var(--transition);

    &:before {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(179, 179, 179, 0.8) 57.42%,
        rgba(27, 27, 27, 0.8) 93.4%
      );
      mix-blend-mode: multiply;
    }

    &.empty {
      pointer-events: none;
      opacity: 0;
    }

    .item {
      @extend %flex-col-center;
      gap: 20px;
      position: absolute;
      z-index: 2;
      left: 50%;
      bottom: 80px;
      width: 100%;
      transform: translateX(-50%);
      text-align: center;
      transition: var(--transition);

      p {
        font-family: var(--font-display);
        font-size: var(--text-md);
        font-weight: 700;
        line-height: var(--140lh);
        letter-spacing: -0.56px;
        color: var(--white);
        transition: var(--transition);
      }

      small {
        display: block;
        font-size: var(--text-xs);
        font-weight: 500;
        line-height: 1.8;
        letter-spacing: -0.32px;
        color: var(--white);
        transition: var(--transition);
      }
    }
  }

  .open-swiper-pagination {
    @extend %flex-center;
    display: none;
    gap: 8px;
    margin-top: 16px;
  }

  .open-swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    border-radius: var(--rounded-full);
    background-color: var(--gray-5);
    transition: var(--transition);
  }

  .open-swiper-pagination-active {
    width: 20px;
    background-color: var(--primary);
  }
}

.section4 {
  height: var(--100vh);
  overflow: hidden;

  .section-wrap {
    @extend %flex-col-center;
    height: var(--100vh);
    gap: 124px;
    transition: var(--transition);
  }

  .text {
    @extend %flex-col;
    align-items: center;
    gap: 32px;
    transition: var(--transition);

    h1 {
      @extend %triangle-title;
      align-items: center;
      text-align: center;
      color: var(--white);
      transition: var(--transition);
    }

    p {
      font-size: var(--text-sm);
      font-weight: 500;
      line-height: var(--140lh);
      letter-spacing: -0.4px;
      text-align: center;
      color: var(--gray-2);
      transition: var(--transition);
    }
  }

  .triangle-wrap {
    position: relative;
    right: -5%;
    width: 435px;
    height: 353px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    background-image: url("/images/triangle-back.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: var(--transition);

    .triangle {
      transform: translateZ(50px) scale(0.9);
    }
  }
}

.section5 {
  @extend %flex-center;
  position: relative;
  height: var(--100vh);

  .text {
    @extend %flex-col-center-align;
    text-align: center;
    transition: var(--transition);

    h1 {
      @extend %triangle-title;
      align-items: center;
      text-align: center;
      margin-bottom: 32px;
      transition: var(--transition);
    }

    button {
      padding: 32px 40px;
      border-radius: var(--rounded-full);
      display: inline-flex;
      align-items: center;
      gap: 16px;
      font-size: var(--btn-txt);
      font-weight: 700;
      color: var(--white);
      background-color: var(--primary);
      pointer-events: auto;
      letter-spacing: -0.56px;
      transition: var(--transition);

      svg {
        width: 36px;
        height: 36px;
        transition: var(--transition);
      }
    }
  }

  .marquee-container {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% - 200px);

    &.top {
      top: 0;
      left: 100px;
      height: 264px;
    }

    &.bottom {
      right: 100px;
      bottom: 150px;
      height: 48px;
    }
  }

  .marquee {
    position: absolute;
    display: flex;
    white-space: nowrap;
    will-change: transform;

    &-text {
      display: inline-block;
      padding-right: 30px;
      font-family: var(--font-display);
      font-size: var(--marquee-txt);
      font-weight: 700;
      -webkit-text-stroke: 2px var(--gray-3);
      color: var(--transparent);
      letter-spacing: -7.535px;
      transition: var(--transition);
    }
  }

  .partner {
    display: flex;
    align-items: center;
    gap: 100px;
    opacity: 0.5;
    transition: var(--transition);

    ul {
      display: flex;
      align-items: center;
      gap: 100px;
      transition: var(--transition);
    }

    li {
      transition: var(--transition);
    }

    .ibm {
      width: 83px;
      height: 34px;
    }

    .intel {
      width: 66px;
      height: 44px;
    }

    .amazon {
      width: 118px;
      height: 36px;
    }

    .cisco {
      width: 84px;
      height: 48px;
    }

    .netflix {
      width: 120px;
      height: 32px;
    }

    .oracle {
      width: 223px;
      height: 30px;
    }
  }
}

.footer {
  position: relative;
  top: -2px;
  display: flex;
  gap: 120px;
  background-color: var(--gray-8);
  padding: 60px 100px;

  &:before {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 8px;
    background-color: var(--gray-8);
  }

  .name {
    font-size: var(--text-lg);
    font-weight: 700;
    color: var(--primary);
    transition: var(--transition);
  }

  .address {
    @extend %flex-col;
    gap: 12px;
    transition: var(--transition);

    p {
      @extend %flex-center-align;
      gap: 20px;
      font-size: var(--text-sm);
      font-weight: 500;
      line-height: var(--140lh);
      letter-spacing: -0.4px;
      color: var(--gray-3);
      transition: var(--transition);

      span {
        color: var(--gray-4);
      }
    }

    div {
      @extend %flex-center-align;
      gap: 40px;
      transition: var(--transition);
    }
  }

  .copyright {
    position: absolute;
    top: 60px;
    right: 100px;
    font-size: var(--text-sm);
    font-weight: 500;
    line-height: var(--140lh);
    letter-spacing: -0.4px;
    color: var(--gray-4);
    transition: var(--transition);
  }
}

.logo-bg {
  position: fixed;
  z-index: -1;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);

  svg {
    width: 775px;
    height: 680px;
    transition: var(--transition);
  }
}

.custom-cursor {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  pointer-events: none;
  will-change: transform;
  background: url("/images/logo.svg") no-repeat center;
  margin: -15px;
  mix-blend-mode: difference;
  // transition: all 0.15s ease-out;

  &.hovered {
    width: 50px;
    height: 50px;
    margin: -25px;
  }
}

.header {
  @extend %flex-center-align;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  padding: 0 100px;
  transition: var(--transition);

  button {
    @extend %flex-center-align;
    gap: 8px;
    font-size: var(--h4);
    font-weight: 700;
    color: var(--white);
    transition: var(--transition);

    svg {
      width: 40px;
      height: 40px;
      transition: var(--transition);
    }
  }
}

@media all and (max-width: 500px) {
  %triangle-title {
    align-items: center;
    text-align: center;
    gap: 4px;

    &:before {
      width: 12px;
      height: 10px;
    }
  }

  .section1 {
    .section-inner {
      gap: 20px;
    }

    .text {
      gap: 4px;
    }

    svg {
      width: 80px;
      height: 70px;
    }
  }

  .section2 {
    .section-inner {
      padding: 122px 16px 66px 16px;
    }

    .open-swiper-wrapper {
      padding-top: 52px;
      padding-bottom: 52px;
    }

    .open-swiper-slide {
      padding: 66px 32px;
      align-items: center;
      text-align: center;

      > svg {
        width: 24px;
        height: 24px;
      }

      p {
        margin-top: 12px;
      }

      .dot-list {
        gap: 4px;
        margin-top: 28px;

        li:before {
          display: none;
        }
      }
    }

    .open-swiper-nav-prev,
    .open-swiper-nav-next {
      display: flex;
    }

    .scroll-down {
      display: none;
    }
  }

  .section3 {
    %triangle-title {
      align-items: center;
    }

    .text {
      text-align: center;

      p {
        margin-top: 16px;
      }
    }

    .open-swiper-container {
      width: 100%;
    }

    .open-swiper {
      margin-top: 32px;
    }

    .section-inner {
      display: block;
      padding: 80px 16px 80px 16px;
    }

    .open-swiper-slide {
      height: 460px;

      .item {
        bottom: 40px;
        gap: 16px;
      }
    }

    .open-swiper-slide.empty {
      display: none;
    }

    .open-swiper-pagination {
      display: flex;
    }
  }

  .section4 {
    height: 80vh;

    .section-wrap {
      padding: 0 16px;
      gap: 16px;
    }

    .text {
      gap: 16px;
    }

    .triangle-wrap {
      scale: 0.6;
    }
  }

  .section5 {
    .text {
      h1 {
        margin-bottom: 20px;
      }

      button {
        gap: 4px;
        padding: 12px 16px;

        svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    .marquee-container {
      width: calc(100% - 32px);

      &.top {
        top: 0;
        left: 16px;
        height: 126px;
      }

      &.bottom {
        right: 16px;
        bottom: 100px;
        height: 28px;
      }
    }

    .partner {
      gap: 40px;

      ul {
        gap: 40px;
      }

      .ibm {
        width: 46px;
        height: 18px;
      }

      .intel {
        width: 36px;
        height: 24px;
      }

      .amazon {
        width: 66px;
        height: 20px;
      }

      .cisco {
        width: 46px;
        height: 26px;
      }

      .netflix {
        width: 66px;
        height: 18px;
      }

      .oracle {
        width: 124px;
        height: 16px;
      }
    }
  }

  .footer {
    flex-direction: column;
    gap: 32px;
    padding: 42px 16px;

    .address {
      gap: 8px;
      div:nth-child(2) {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
      }
      p {
        gap: 8px;
      }
    }
    .copyright {
      margin-top: 24px;
      position: inherit;
      top: inherit;
      right: inherit;
    }
  }

  .logo-bg {
    svg {
      width: 276px;
      height: 235px;
    }
  }

  .custom-cursor {
    display: none;
  }

  .header {
    height: 56px;
    padding: 0 16px;

    button {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

@media all and (min-width: 501px) and (max-width: 1200px) {
  .section1 {
    .section-inner {
      gap: 32px;
    }

    svg {
      width: 120px;
      height: 106px;
    }

    .text {
      gap: 8px;
    }
  }

  .section2 {
    .section-inner {
      padding: 70px 50px 110px 50px;
    }
  }

  .section3 {
    %triangle-title {
      align-items: center;
    }

    .text {
      text-align: center;
    }

    .open-swiper-container {
      width: 100%;
    }

    .open-swiper {
      margin-top: 64px;
    }

    .section-inner {
      display: block;
      padding: 110px 50px 110px 50px;
    }

    .open-swiper-slide {
      height: 460px;
    }

    .open-swiper-slide.empty {
      display: none;
    }
  }

  .section5 {
    .text {
      h1 {
        margin-bottom: 20px;
      }

      button {
        gap: 10px;
        padding: 20px 28px;

        svg {
          width: 28px;
          height: 28px;
        }
      }
    }

    .marquee-container {
      width: calc(100% - 100px);

      &.top {
        top: 0;
        left: 50px;
        height: 170px;
      }

      &.bottom {
        right: 50px;
        bottom: 100px;
        height: 42px;
      }
    }

    .partner {
      gap: 70px;

      ul {
        gap: 70px;
      }

      .ibm {
        width: 64px;
        height: 26px;
      }

      .intel {
        width: 52px;
        height: 34px;
      }

      .amazon {
        width: 92px;
        height: 28px;
      }

      .cisco {
        width: 66px;
        height: 38px;
      }

      .netflix {
        width: 94px;
        height: 26px;
      }

      .oracle {
        width: 174px;
        height: 24px;
      }
    }
  }

  .footer {
    flex-direction: column;
    gap: 32px;
    padding: 42px 50px;

    .address {
      gap: 10px;
      div:nth-child(2) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
      p {
        gap: 10px;
      }
    }
    .copyright {
      margin-top: 24px;
      position: inherit;
      top: inherit;
      right: inherit;
    }
  }

  .logo-bg {
    svg {
      width: 524px;
      height: 458px;
    }
  }

  .header {
    height: 72px;
    padding: 0 50px;

    button {
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}

@media all and (min-width: 1201px) and (max-width: 1600px) {
  .section3 {
    %triangle-title {
      align-items: center;
    }

    .text {
      text-align: center;
    }

    .open-swiper-container {
      width: 100%;
    }

    .open-swiper {
      margin-top: 92px;
    }

    .section-inner {
      display: block;
    }

    .open-swiper-slide {
      height: 460px;
    }

    .open-swiper-slide.empty {
      display: none;
    }
  }

  .footer {
    .copyright {
      position: inherit;
      top: inherit;
      right: inherit;
    }
  }
}

@media all and (min-width: 1601px) {
  .section3 {
    .section-inner {
      padding-right: 0;
    }
  }
}
